.sliderType{position: relative;}
.slideContent{padding: 5px 10px;}
.slideContent .imageParent{
    width: 100%; /* پرنت تصویر به اندازه عرض خود کشیده می‌شود */
    height: 0;
    padding-top: 100%; /* نسبت عرض به ارتفاع (مثال: 4:3) */
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.119);
}
.slideContent .imageParent img{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 90%;
}

.textParent h2{
    text-align: right;
    color: #747474;
    font-weight: 400;
    font-size: 17px;
    height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    direction: rtl;
}
.priceParent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    direction: rtl;
    color: #595959;
    font-size: 14px;
}