.userItem{
    width: auto;
    display: flex;align-items: center;
    justify-content: start;
    outline: 1px solid transparent;
    cursor: pointer;
    transition: 0.2s all;
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 0px 10px;
    position: relative;
    flex-wrap: wrap;
}
.userItem .avatar{width: 35px;height: 35px;border-radius: 100%;}
.userItem h3{font-weight: 200;margin-left: 10px;color: #454545;overflow: hidden;
    font-size: 16px;
    max-width: 50%;
    width: auto;
    text-overflow: ellipsis;
    margin: 0px 0px 0px 10px;
  }
.userItem:hover{
    background-color: rgb(255, 243, 229);
  outline: 1px solid #ffe1c2;
  box-shadow: 0px 0px 9px #00000012;
}
.userItem.active{
  background: #ededed78;
  outline: 1px solid #ccc;
}
.userItem.disable{
  background: #ededed;
  outline: 1px solid #e3e3e3;
  opacity: 0.3;
}
.userItem .disableParent{
  position: absolute;
  left: 100px;
  display: flex;
  align-items: center;
  top: 23%;
}
/* .userItem .date{position: absolute;right: 10px;top: 0px;} */
.userItem .badgeParent{
    position: absolute;
  right: 0px;
  top: 29%;
  width: 77px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: rtl;
  font-size: 11px;
  padding: 0px 10px;
}
.userItem .badge{border-radius: 100%;display: inline-flex;align-items: center;justify-content: center;
    width: 12px;
    height: 12px;
background-color: rgb(255, 209, 60);color: black;padding: 3px;
}
.userItem .date{position: relative;right: 10px;color: #c3c3c3;}

.userItem .lastMsg{
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  padding: 5px 10px;
}
.userItem .lastMsg p{
  width: 100%;
  font-size: 12px;
  text-overflow: ellipsis;
  word-break: break-word;
  margin: 0px;
  overflow: hidden;
  font-family: 'danaRegular';
  color: #8e8e8e;
  white-space: nowrap;
  text-align: left;
  direction: rtl;
  max-width: 160px;
}
.userItem .avatar{width: 10%;}
.userItem .left{width: 55%;overflow: hidden;}
.userItem .right{width: 35%;}