.userList{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 10px;
    height: 540px;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0px 0px 12px #9797971b;
  border: 1px solid #f0f0f0;
  border-radius: 20px;
}

/*chatLayout*/

.chatLayout {
  border-radius: 20px;
  width: 100%;
  height: 561px;
  /* position: fixed;
  right: 5vw;
  bottom: 4vw;
  z-index: 99; */
  /* background: #f6f6f7; */
  box-shadow: 0px 0px 12px #9797971b;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  transition: 0.3s all;
  font-family: 'danaRegular';
}


/*body*/
.chatLayout .body{height: 90%;}

.chatLayout .body .dateStart{
    padding: 15px;
    position: relative;
    display: flex;align-items: center;justify-content: center;
  }
  .chatLayout .body .dateStart::before {
    content: '';
    border-top: 1px solid #dcdcdc;
    width: 30%;
    position: absolute;
    top: 23px;
    right: 2%;
    z-index: 0;
  }
  
  .chatLayout .body .dateStart::after {
    content: '';
    border-top: 1px solid #dcdcdc;
    width: 28%;
    position: absolute;
    top: 23px;
    left: 2%;
    z-index: 0;
  }
  .chatLayout .body .dateStart span{font-size: 12px;color: #a4a4a4;}
  
  .chatLayout .body .chatBase{
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
    box-shadow: 0px 0px 50px #ababab0d inset;
    scroll-behavior: smooth;
  }
  .chatBase .leftMsgPack,.chatBase .rightMsgPack{
    padding: 5px;
  }
  .chatBase .leftMsgPack .msg:first-child{
    border-radius: 14px 14px 14px 0px;
  }
  
  .chatBase .rightMsgPack .msg:first-child{
    border-radius: 14px 14px 0px 14px ;
  }
  .chatBase .leftMsgPack .msg:last-child{
    border-radius: 14px 14px 14px 0px;
  }
  .chatBase .rightMsgPack .msg:last-child{
    border-radius: 14px 14px 0px 14px ;
  }
  /* .chatBase .leftMsgPack .text,.chatBase .rightMsgPack .text{
  
  }; */
  .chatBase .leftMsgPack{text-align: right;float: left;width: 100%;}
  .chatBase .rightMsgPack{text-align: right;direction: rtl;float: right;width: 100%;}
  .chatBase .leftMsgPack .msg{
    background: #f4eaff;
    width: max-content;
    padding: 15px;
    border-radius: 14px;
    margin: 10px 5px;
    max-width: 80%;
    font-size: 14px;
    color: #262626;
    font-size: 15px;
  }
  
  .chatBase .rightMsgPack .msg{
    background: #ffedc9;
    width: max-content;
    padding: 15px;
    border-radius: 14px;
    margin: 10px 5px;
    max-width: 80%;
    /* box-shadow: 0px 0px 9px #0000000d; */
    font-size: 14px;
    color: #262626;
    font-size: 15px;
  }
  .statusMsg{
    position: relative;
    padding: 5px 20px;
    color: #acacac;
    font-size: 13px;
    display: none;
  }

  .msgParent .right .statusMsg.active::after{
    content: '';
    position: absolute;
    right: 10px;
    width: 5px;
    height: 5px;
    background: #00b525;
    border-radius: 100%;
    bottom: 13px;
  }

  .msgParent .left .statusMsg.active::after{
    content: '';
    position: absolute;
    left: 10px;
    width: 5px;
    height: 5px;
    background: #00b525;
    border-radius: 100%;
    bottom: 13px;
  }
  .msgParent .left .statusMsg{text-align: left;}
  .msgParent .right .statusMsg{text-align: right;}

  .msgParent .left .statusMsg:last-child{display: block;}

  .msgParent .right .statusMsg:last-child{display: block;}

  .msgParent .content{padding: 10px;}
  .msgParent .rightMsgImg{width: 100%;text-align: right;display: flex;justify-content: right;}
  .msgParent .leftMsgImg{width: 100%;text-align: left;display: flex;justify-content: left;}
  .rightMsgImg .desc{margin-top: 5px;color: #767676;}
  .msgParent .content img{
    width: 100%;
    max-width: 200px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px #0000000f;
  }
  .leftMsgImg .desc{margin-top: 5px;color: #767676;}
  /* @animationTime: 0.8s;
  @dotSize: 20px; */
  .loader {
      text-align: center;
      margin-right: 10px;
  }
  .loader span {
      display: inline-block;
      vertical-align: middle;
      width: 7px;
      height: 7px;
      background: rgb(13, 113, 202);
      border-radius: 100%;
      animation: loader 0.5s infinite alternate;
      margin: auto 2px;
  }
  .loader span:nth-of-type(2) {
      animation-delay: 0.2s;
  }
  .loader span:nth-of-type(3) {
      animation-delay: 0.6s;
  }
  @keyframes loader {
    0% {
      opacity: 0.9;
      transform: scale(0.6);
    }
    100% {
      opacity: 0.1;
      transform: scale(1);
    }
  }
  .isTyping{
    display: flex;
    align-items: center;
    direction: rtl;
    justify-content: center;
    width: max-content;
    max-width: 300px;
  }
  .isTyping p{color: #767676;font-size: 14px;}
.rightMsgTyping{
  text-align: right;
  direction: rtl;
  float: right;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* padding: 15px; */
  border-radius: 14px 14px 0px 14px;
  /* background: #ffedc9; */
  /* margin: 10px 5px; */
}
.leftMsgTyping{
  text-align: right;
  direction: rtl;
  float: left;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* padding: 15px; */
  border-radius: 14px 14px 14px 0px;
  /* background: #f4eaff; */
  /* margin: 10px 5px; */
}


  /*footer*/
  /*footer*/
.chatLayout .footer{
    height: 8%;
  background: white;
  box-shadow: 0px 0px 8px #00000014;
  padding: 5px;
  display: flex;justify-content: space-between;align-items: center;
  direction: rtl;
  position: relative;
  font-family: 'danaRegular';
}
.footer form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.chatLayout .footer .right{width: 10%;cursor: pointer;}
.chatLayout .footer .center{width: 70%;}
.chatLayout .footer .center input{width: 100%;border: none;height: 100%;  font-family: 'danaRegular';font-size: 17px;}
.chatLayout .footer .center input:focus{outline: none;}
.chatLayout .footer .left{width: 20%;display: flex;justify-content: flex-end;align-items: center;position: relative;}
.chatLayout .footer .left .icon{position: relative;display: flex;align-items: center;justify-content: center;}
.chatLayout .footer .left button{cursor: pointer;color: #767676;}
.chatLayout .footer .left > span .fileInput{position: absolute;width: 45%;height: 100%;left: 0px;top:0px;opacity: 0;cursor: pointer;}
.chatLayout .footer .right a:hover svg{fill: #d09303;}
.chatLayout .footer .left .emoji{border: none;background: none;}
.chatLayout .footer .left .emoji:hover svg{fill: #d09303;}
.chatLayout .footer .left .addFile{display: flex;align-items: center;justify-content: center;}
.chatLayout .footer .left .addFile a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.chatLayout .fileIcon{color: #767676;}
.chatLayout .fileIcon:hover{color :#d09303;}
.sendBtn{border: none;background: none;}
.sendBtn .sendIcon{
  color: #767676;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transition: 0.3s all;
}
.sendBtn .sendIcon:hover{color: #d09303;}

  /*footer*/
  
  @media (max-width:767px) {
    .chatParent .chatLayout{
      width: 91%;
      height: 96vh;
  
      bottom: 1vw;
  
    }
  .chatLayout .body{height: 74%;}
  .chatLayout .footer {height: 10%;}
  
  }